.container{
}

.title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.description {
    padding-bottom: 10px;
}

.authors,.subauthors {
    padding-bottom: 10px;
    width: 100%;
    margin: 0;
}

.embed {
    margin-top: 10px;
}