<!DOCTYPE html>
<html lang="ja">

<head>

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- 共通部分を自動でhtmlに追加するjavascript。jQuery読み込んでからでないとエラー -->
    <script src="src/header.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49660611-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49660611-1');
        console.log("google analysys");
    </script>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- BootstrapのJS読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <!-- vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- font awesome-->
    <script src="https://kit.fontawesome.com/9af312280c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/dtm-works.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap" rel="stylesheet">

    <title>DTM部作品集 - 情報技術クラブ ITC</title>
</head>

<body>
    <div id="top"></div>
    <script type="text/javascript">gotoTop('');</script>
    <script type="text/javascript">header('');</script>
    <!-- メインコンテンツ-->
    <div id="dtm-headline">
        <div class="headline-title">
            DTM
        </div>
    </div>

    <section class="wrapper my-5">
        <div id="cg-introduction">
            <h2>DTM部作品集</h2>
            <p>今までに制作した作品の詳しい紹介をします</p>
            <p>例年、10月の秋M3、3月の春M3でCDを頒布しています。</p>
        </div>
    </section>

    <section class="wrapper-wide">
        <div id="dtm-introduction">
            <h3 class="p-1">M3クロスフェードデモ</h3>
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">時期</th>
                        <th scope="col">アルバム名</th>
                        <th scope="col">クロスフェード</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="item in items.m3_xfd">
                        <tr>
                            <td class="align-middle">
                                <h4>{{item.time}}</h4>
                            </td>
                            <td class="align-middle">
                                <h4>{{item.title}}</h4>
                            </td>
                            <td><div v-html="item.embed"></div></td>
                            <!--
                                 <td><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"  v-bind:src="item.src"></iframe></td>
                        -->
                        </tr>
                    </template>
                </tbody>
            </table>

            <h3 class="p-1">その他作品①</h3>
            <p>コミックマーケットや合宿などで制作した曲です。</p>
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">時期</th>
                        <th scope="col">アルバム名</th>
                        <th scope="col">クロスフェード</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <h4>C89-３日目</h4>
                        </td>
                        <td class="align-middle">
                            <h4>ITC Extra</h4>
                        </td>
                        <td><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239403419&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <td class="align-middle">
                            <h4>2020年3月1日春M3</h4>
                            <p>ITCの卒業生で構成される</p>
                            <p>サークル「AITC」による制作</p>
                        </td>
                        <td class="align-middle"><h4>COMPILE</h4></td>
                        <td><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/765195664&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></td>
                    </tr>
                    -->
                </tbody>
            </table>

            <h3 class="p-1">その他作品②</h3>
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">時期</th>
                        <th scope="col">アルバム名</th>
                        <th scope="col">クロスフェード</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="item in items.others">
                        <tr>
                            <td class="align-middle">
                                <h4>{{item.time}}</h4>
                            </td>
                            <td class="align-middle">
                                <h4>{{item.title}}</h4>
                            </td>
                            <td><div v-html="item.embed"></div></td>
                            <!--
                                 <td><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"  v-bind:src="item.src"></iframe></td>
                        -->
                        </tr>
                    </template>
                </tbody>
            </table>

        </div>
    </section>
    <script type="text/javascript">footer('');</script>
    <script type="text/javascript" src="src/dtm-works.js"></script>

</body>

</html>