<!DOCTYPE html>
<html lang="ja">

<head prefix=”og: http://ogp.me/ns#”>

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- 共通部分を自動でhtmlに追加するjavascript。jQuery読み込んでからでないとエラー -->
    <script src="src/header.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49660611-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49660611-1');
        console.log("google analysys");
    </script>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <!-- OGPの設定-->
    <meta name="og:title" content="情報技術クラブ ITC -活動紹介-">
    <meta property="og:url" content="https://www.ed.tus.ac.jp/tusitclub/">
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="ITCは東京理科大学・葛飾キャンパスにて活動中のサークルです。PCを使った作品（イラスト、作曲、プログラミングなど）を作ることを目的として、日々活動しています。" />
    <meta property="og:site_name" content="情報技術クラブ" />
    <meta property="og:image" content="https://www.ed.tus.ac.jp/tusitclub/images/thumbnail-example.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tusitclub" />
    <meta name="twitter:creator" content="@tusitclub">
    <meta name="twitter:image" content="https://www.ed.tus.ac.jp/tusitclub/images/thumbnail-example.png" />

    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- BootstrapのJS読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <!-- vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- font awesome-->
    <script src="https://kit.fontawesome.com/9af312280c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&family=Kosugi&family=Noto+Serif+JP:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=New+Tegomin&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=New+Tegomin&family=Sawarabi+Mincho&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Kosugi&family=New+Tegomin&family=Sawarabi+Mincho&display=swap"
        rel="stylesheet">
    <title>情報技術クラブ ITC</title>
</head>

<body>
    <div id="top"></div>
    <script type="text/javascript">gotoTop('');</script>
    <script type="text/javascript">header('');</script>
    <section id="itc-title" class="my-6 text-center">
        <div class="title-text">情報技術クラブ</div>
        <div class="title-text-sub">Information and Technology Club -ITC-</div>
    </section>
    <section class="wrapperwide">
        <div id="introduction-prologue" class="itc-board text-center">
            <div id="particles-js"></div>
            <div class="my-5">
                <p>ITCは<strong>東京理科大学・葛飾キャンパス</strong>にて活動中のサークルです。</p>
                <p>PCを使った作品を作ることを目的として、日々活動しています。</p>
            </div>
            <div class="my-5">
                <p>主に </p>
                <div class="my-2">
                    <p> <i class="fas fa-music"></i><strong> DTM</strong>、<i class="fas fa-palette"></i><strong>
                            CG</strong>、<i class="fas fa-laptop-code"></i><strong> プログラミング</strong>、<i
                            class="fas fa-video"></i><strong> MV</strong></p>
                </div>
                <p>の4つの部門に分かれて作品制作を行っています。</p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script type="text/javascript">
            particlesJS.load('particles-js', 'particlesjs-config.json', function () {
                console.log('callback - particles.js config loaded');
            });
        </script>
    </section>

    <!-- 理大祭用のページに飛ぶ -->
    <section class="wrapper m-3" id="introduction">
        <div id="introduction-content" class="my-3">
            <div class="p-0 container position-relative">
                <div class="jumbotron jumbotron-sdw mt-4" id="main-ritaisai-2024-jumbo">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-12 col-md-8 text-right">
                                <h1 class="jumbo-main">2024年度理大祭</h1>

                                <hr class="my-4">
                                <a class="btn btn-lg btn-itc stretched-link" href="ritaisai2024.html"
                                    role="button">理大祭作品一覧へ</a>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>2024年度理大祭出展作品の紹介です。</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.jumbotron -->
            </div><!-- /.container -->

            <div class="p-0 container position-relative">
                <div class="jumbotron jumbotron-sdw mt-4" id="main-dtm-jumbo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p>M3でCDを頒布したりします。</p>
                                <p>エフェクト・シンセ音作りなど講習会を行っています。</p>
                            </div>
                            <div class="col-12 col-md-8 text-right">
                                <h1 class="jumbo-main">DTM部</h1>

                                <h4 class="jumbo-sub"><span class="badge badge-itc">作曲</span></h4>
                                <hr class="my-4">
                                <p>部員:14人</p>
                                <a class="btn btn-lg btn-itc stretched-link" href="dtm.html" role="button">DTM部の紹介へ</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.jumbotron -->
            </div><!-- /.container -->

            <div class="p-0 container position-relative">
                <div class="jumbotron jumbotron-sdw mt-4" id="main-cg-jumbo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <h1 class="jumbo-main">CG部</h1>
                                <h4 class="jumbo-sub"><span class="badge badge-itc mx-2">イラスト</span><span
                                        class="badge badge-itc">モデリング</span></h4>
                                <hr class="my-4">
                                <p>部員:30人</p>
                                <a class="btn btn-lg btn-itc stretched-link" href="cg.html" role="button">CG部の紹介へ</a>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>主にClip studioで講習会を行っています。</p>
                                <p>また線画を部員で交換したり、お題を出しあって絵を描いたりしています。</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.jumbotron -->
            </div><!-- /.container -->

            <div class="p-0 container position-relative">
                <div class="jumbotron jumbotron-sdw mt-4" id="main-prog-jumbo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p>C++やUnityでゲーム制作を行っています。</p>
                                <p>他にもpythonやjavascriptなど自由にそれぞれ作品制作を行っています。</p>
                            </div>
                            <div class="col-12 col-md-8 text-right">
                                <h1 class="jumbo-main">Prog部</h1>
                                <h4 class="jumbo-sub"><span class="badge badge-itc mx-2">ゲーム制作</span><span
                                        class="badge badge-itc mx-2">競プロ</span></h4>
                                <hr class="my-4">
                                <p>部員:15人</p>
                                <a class="btn btn-lg btn-itc stretched-link" href="prog.html"
                                    role="button">Prog部の紹介へ</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.jumbotron -->
            </div><!-- /.container -->


            <div class="p-0 container position-relative">
                <div class="jumbotron jumbotron-sdw mt-4" id="main-mv-jumbo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <h1 class="jumbo-main">MV部</h1>
                                <h4 class="jumbo-sub"><span class="badge badge-itc mx-2">動画制作</span><span
                                        class="badge badge-itc">モーショングラフィックス</span></h4>
                                <hr class="my-4">
                                <p>部員:15人</p>
                                <a class="btn btn-lg btn-itc stretched-link" href="mv.html" role="button">MV部の紹介へ</a>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>2021年新設！</p>
                                <p>モーショングラフィックスやミュージックビデオをはじめ、様々な動画を作成しています。</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.jumbotron -->
            </div><!-- /.container -->
        </div>

        <hr class="my-5">

        <!-- 年間予定表-->
        <div class="container p-0">
            <div id="main-schedule">
                <div class=" mb-5 ">
                    <h2 class="m-0"><i class="far fa-calendar p-2"></i>ITC年間活動予定</h2>
                </div>

                <div class="m-3">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">月</th>
                                <th scope="col">CG部</th>
                                <th scope="col">MV部</th>
                                <th scope="col">DTM部</th>
                                <th scope="col">PROG部</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">４月</th>
                                <td>新歓</td>
                                <td>新歓・初心者講習・部会</td>
                                <td>新歓・春M3準備</td>
                                <td>新歓</td>
                            </tr>
                            <tr>
                                <th scope="row">５月</th>
                                <td>初心者講習</td>
                                <td rowspan="3" class="align-middle">部会</td>
                                <td rowspan="2" class="align-middle">初心者講習</td>
                                <td rowspan="2" class="align-middle">初心者講習</td>
                            </tr>
                            <tr>
                                <th scope="row">６月</th>
                                <td rowspan="3" class="align-middle">夏コミ準備</td>
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <th scope="row">７月</th>
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <td></td>
                                <td rowspan="5" class="align-middle">理大祭に向けたゲーム制作</td>
                            </tr>
                            <tr>
                                <th scope="row">８月</th>
                                <!-- <td></td> -->
                                <td>夏休み</td>
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <th scope="row">９月</th>
                                <td rowspan="3" class="align-middle">理大祭準備・冬コミ準備</td>
                                <td rowspan="2" class="align-middle">理大祭準備(作品準備など)</td>
                                <td rowspan="2" class="align-middle">秋M3準備</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <th scope="row">１０月</th>
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <th scope="row">１１月</th>
                                <!-- <td></td> -->
                                <td>部会・理大祭</td>
                                <td>理大祭準備</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <th scope="row">１２月</th>
                                <td>冬コミ準備</td>
                                <td rowspan="2" class="align-middle">部会</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">１月</th>
                                <td></td>
                                <!-- <td></td> -->
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">２月</th>
                                <td rowspan="2" class="align-middle">新歓準備・引継ぎ</td>
                                <td>春休み</td>
                                <td></td>
                                <td>引継ぎ</td>
                            </tr>
                            <tr>
                                <th scope="row">３月</th>
                                <!-- <td></td> -->
                                <td>部会・新歓準備</td>
                                <td>引継ぎ・春M3準備</td>
                                <td>新歓準備</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="container p-0">
            <div id="discord">
                <div class=" mb-5 ">
                    <h2 class="m-0"><i class="fab fa-discord p-2"></i>Discord</h2>
                </div>
                <div class="m-3">
                    <p>ITCでは<strong>Discordを通して連絡、コミュニケーション</strong>を行っています。オンライン上の部会もdiscord上で毎週開催しています。</p>
                    <p>企業でCG制作などを行っていたり、大学院で研究していたりするOB,OGの方々に話を聞いたり質問したりすることもできます。</p>
                    <p>また、部会の時間でなくとも暇な部員がボイスチャンネルにいることもあります。気軽に連絡を取り合っています。</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="container p-0">
            <div id="history">
                <div class=" mb-5 ">
                    <h2 class="m-0"><i class="fas fa-landmark p-2"></i>History</h2>
                </div>
                <div class="m-3">
                    <p>ITCは東京理科大学葛飾キャンパスができた年から活動を続けており、2023年度で<strong>11年目</strong>になります。</p>
                    <p>現在DiscordにはOB,OG含めて<strong>141人</strong>ものメンバーがいます。</p>
                    <p>これからもよろしくお願いします！</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div id="introduction-qna">
            <div class=" mb-5">
                <h2 class="m-0"><i class="far fa-question-circle p-2"></i>Q&A</h2>
            </div>

            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <template v-for="(item,index) in items.items">
                    <div class="card">
                        <div class="card-header acccordion-hed" role="tab" v-bind:id="'heading'+index">
                            <h5 class="mb-0">
                                <a class="text-white d-block p-3 m-n3" data-toggle="collapse"
                                    v-bind:href="'#collapse'+index" role="button" aria-expanded="true"
                                    v-bind:aria-controls="'collapse'+index">
                                    <div class="row">
                                        <div class="col-11">・{{item.q}}</div>
                                        <div class="col-1"><i class="fas fa-chevron-down"></i> </div>
                                    </div>
                                </a>
                            </h5>
                        </div><!-- /.card-header -->
                        <div v-bind:id="'collapse'+index" class="collapse" role="tabpanel"
                            v-bind:aria-labelledby="'heading'+index" data-parent="#accordion">
                            <div class="card-body">
                                <h4 class="card-text">{{item.a.header}}</h4>
                                <p v-for="text in item.a.descriptions" class="card-text">{{text}}</p>
                            </div><!-- /.card-body -->
                        </div><!-- /.collapse -->
                    </div><!-- /.card -->
                </template>
            </div><!-- /#accordion -->

            <div class="card my-3">
                <h5 class="card-header acccordion-hed text-white">
                    その他質問等あれば公式twitter<i class="fab fa-twitter"></i>にどうぞ
                </h5>
                <div class="card-body">
                    <p class="card-text">twitterへ</p>
                    <div class="m-2">
                        <a href="https://twitter.com/tusitclub_snkn">
                            <h5 class="card-text">ITC公式twitterアカウント<i class="fab fa-twitter"></i>(新歓用)</h5>
                        </a>
                    </div>

                    <!-- 質問箱の対応終了により削除 (2025/03/11)
                    
                    <h4 class="card-text">質問箱も設置しました！</h4>
                    <p class="card-text">なにか聞きたいことがあれば気軽にご質問ください！</p>

                    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"><a href="https://twitter.com/tusitclub_snkn?ref_src=twsrc%5Etfw">@tusitclub_snkn</a>の質問箱を設置しました！<br>もし気になることがあれば気軽にご質問ください！<a href="https://twitter.com/hashtag/%E6%98%A5%E3%81%8B%E3%82%89%E7%90%86%E7%A7%91%E5%A4%A7?src=hash&amp;ref_src=twsrc%5Etfw">#春から理科大</a><a href="https://t.co/fvxes8fndT">https://t.co/fvxes8fndT</a> <a href="https://twitter.com/hashtag/%E8%B3%AA%E5%95%8F%E7%AE%B1?src=hash&amp;ref_src=twsrc%5Etfw">#質問箱</a> <a href="https://twitter.com/hashtag/peing?src=hash&amp;ref_src=twsrc%5Etfw">#peing</a></p>&mdash; 情報技術クラブ新歓＠理科大 (@tusitclub_snkn) <a href="https://twitter.com/tusitclub_snkn/status/1245024508060135424?ref_src=twsrc%5Etfw">March 31, 2020</a></blockquote>
                    
                    -->

                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>
    </section>
    <script type="text/javascript">footer('');</script>
    <script type="text/javascript" src="src/home-qna.js"></script>

</body>

</html>