<!DOCTYPE html>
<html lang="ja">
<head>

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- 共通部分を自動でhtmlに追加するjavascript。jQuery読み込んでからでないとエラー -->
    <script src="../src/header.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49660611-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-49660611-1');
        console.log("google analysys");
    </script>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- BootstrapのJS読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/base.css">
    <!-- vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- font awesome-->
    <script src="https://kit.fontawesome.com/9af312280c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../favicon.ico">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap" rel="stylesheet">
    <title>これまでのITCの歴史 - 情報技術クラブ ITC</title>
</head>
<body>
    <div id="top"></div>
    <script type="text/javascript">gotoTop('../');</script>
    <script type="text/javascript">header('../');</script>

    <!-- メインコンテンツ-->
    <!-- ページの上にある画像と半透明の文字-->
    <div id="dtm-headline">
        <div class="headline-title">
            history
        </div>
    </div>

    <section class="wrapper m-3">
        <div id="dtm-introduction">
            <div id="app">
                <h3 class="my-5">2016</h3>
                <template v-for="(item,index) in items.contents2016">
                    <div class="card">
                        <div class ="card-header">
                            <div class ="container-fluid">
                                <div class="row">
                                    <div class ="col-6">{{item.title}}</div>
                                    <div class="col-6">
                                        <div class ="float-right">
                                            <template v-for="(text,index) in item.tags">
                                                <span class="badge badge-primary mx-1">{{get_badge_name(text)}}</span>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <template v-for="(text,index) in item.descriptions">
                                <p class="card-text" v-html="text"></p>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <nav aria-label="page">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="history2017.html" aria-label="前">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="history2020.html">1</a></li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="前">
                      <span aria-hidden="true">...</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="history2017.html">4</a></li>
                  <li class="page-item active" aria-current="page"><span class="page-link" href="#">5</span></li>
                  <li class="page-item"><a class="page-link" href="history2015.html">6</a></li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="前">
                      <span aria-hidden="true">...</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="history2013.html">8</a></li>
                  <li class="page-item">
                    <a class="page-link" href="history2015.html" aria-label="次">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
    </section>
    <script type="text/javascript">footer('../');</script>
    <script type="text/javascript"  src="../src/history.js"></script>
    <!-- vue.jsの中で生成したtwitterの埋め込みのやつを表示させるため-->
    <!-- vue.js使わなかったらこれいらない-->
    <script async src='https://platform.twitter.com/widgets.js' charset='utf-8'></script>

</body>
</html>
